body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcomenian.org%2F7747%2Farts-entertainment%2Fthe-problem-with-marvel-vs-dc%2F&psig=AOvVaw0IXTlvpuXXdY5ZrRj_9nOg&ust=1720252863503000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKjGiLm3j4cDFQAAAAAdAAAAABAE);

}
img{
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}